.listar-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 15px auto;
    margin-bottom: 40px;
    background: linear-gradient(to left, #f06b6b, #777cf4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: xx-large;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      width: 33%;
      padding: 12px;
      border-bottom: 1px solid #f9f9f9;
      color: #f9f9f9;
      text-align: center;
    }

    th {
      background-color: #007bff;
    }

    tr:hover {
      background-color: #444;
    }
  }
}
